body {
  background-color: #181f2a;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5%;
  background-color: #1c2431;
}

.header img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 80px;
}

nav {
  height: 5%;
  margin-top: 20px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #fcfcfc;
  margin-right: 50px;
}

nav a:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: underline;
  font-weight: 700;
}

.intro {
  height: 15%;
  text-align: center;
  margin-bottom: 200px;
  background-color: #1c2431;
  background-image: url("images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.intro .intro-inner {
  width: 40%;
  margin: 0 auto;
}

.intro h1 {
  margin-top: 50px;
}

.intro button {
  margin-top: 30px;
  padding: 20px 90px;
  border: none;
  border-radius: 35px;
  background: #65e2d9;
  color: #fcfcfc;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.intro button:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #bff3ef;
}

.perks {
  height: 15%;
}

.perks-inner {
  margin: 0 auto;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.perks-entry {
  max-width: 350px;
  margin-bottom: 100px;
}

.information {
  margin: 0 auto;
  height: 15%;
  width: 80%;
}

.information .information-inner {
  width: 35%;
  height: 15%;
  text-align: left;
  float: right;
}

.information h1 {
  font-size: 40px;
}

.information svg {
  vertical-align: middle;
}

.information a {
  color: #65e2d9;
  border-bottom: solid 1px #65e2d9;
  text-decoration: none;
}

.information a:hover {
  color: #fcfcfc;
  border-color: #fcfcfc;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.information a:hover svg {
  color: #fcfcfc;
}

.testimonial-section {
  height: 15%;
  background-repeat: no-repeat;
  margin-top: 180px;
  margin-bottom: 250px;
}

.testimonial-section .quotes-bg {
  position: relative;
  z-index: -1;
  top: 15px;
  right: 10px;
}

.testimonials-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.testimonial {
  width: 22%;
  border-radius: 5px;
  background-color: #202a3c;
  padding: 25px;
  margin-right: 30px;
}

.testimonial .quote {
  margin-bottom: 25px;
}

.testimonial img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  float: left;
  margin-right: 10px;
}

.testimonial .name {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.testimonial .position {
  font-size: 12px;
  margin: 0;
}

.form {
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 15%;
  width: 50%;
  background-color: #1c2431;
  padding: 25px 125px 30px 125px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 5px 12px -2px #000000;
  box-shadow: 4px 5px 12px -2px #000000;
}

.form input {
  width: 50%;
  border-radius: 25px;
  border: none;
  padding: 15px 35px;
}

.form input:invalid p {
  display: block;
}

.form button {
  padding: 18px 30px;
  border-radius: 25px;
  border: none;
  background-color: #65e2d9;
  color: #fcfcfc;
  font-weight: 700;
  margin: 40px 0px 0px 30px;
}

.form button:hover {
  background: #bff3ef;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form .error {
  position: relative;
  bottom: 10px;
  right: 200px;
  font-size: 12px;
  color: #ff4242;
  display: none;
}

.footer {
  margin: 0 auto;
  background-color: #0b1523;
  height: 15%;
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-inner .icons {
  position: relative;
  bottom: -40px;
  right: 40px;
}

.footer-inner .location {
  width: 30%;
}

.footer-inner .contact p {
  margin: 0;
}

.footer-inner .contact .icons {
  bottom: -22px;
}

.footer-inner .links {
  width: 25%;
}

.footer-inner .links ul {
  list-style: none;
  -webkit-column-count: 2;
          column-count: 2;
}

.footer-inner .links li {
  margin-bottom: 25px;
}

.footer-inner .links a {
  text-decoration: none;
  color: #fcfcfc;
}

.footer-inner .links a:hover {
  font-weight: 700;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer-inner .socials svg {
  width: 25px;
  height: 25px;
  fill: #fcfcfc;
  border: 1px solid #fcfcfc;
  border-radius: 25px;
  padding: 5px;
  margin-right: 10px;
}

.footer-inner .socials a:hover svg {
  fill: #65e2d9;
  border-color: #65e2d9;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/*# sourceMappingURL=styles.css.map */